@import "colors";
@import "typography";

.btn {
  display: inline-block;
  padding: 14px 26px;
  margin: 0;
  background-color: $color-ea-primary;
  color: $white;
  border: none;
  border-bottom: 1px solid $color-ea-dark;
  border-radius: 4px;
  font-family: $font-serif;
  font-size: 1em;
  cursor: pointer;
  transition: color 0.1s ease-in-out, border 0.2s ease-in-out,
    background-color 0.2s ease-in-out !important;

  &:hover {
    background-color: $color-ea-light;
    color: $white;
    border-bottom: 1px solid $color-ea-primary;
  }

  svg {
    fill: $white;
    margin-left: 0.75rem;
    vertical-align: middle;
    width: 1.5em;
    height: 1.5em;
  }

  &.btn-go {
    svg {
      margin-bottom: 0.15em;
    }
  }
}

.btn-light {
  background-color: $color-ea-beige;
  color: $color-ea-dark;
  border-bottom: 1px solid $color-ea-dark;

  &:hover {
    background-color: $color-ea-light-beige;
    color: $color-ea-dark;
    border-bottom: 1px solid $color-ea-dark;
  }

  svg {
    fill: $color-ea-dark;
  }
}

.btn-small {
  padding: 12px 24px;
  width: fit-content;
  font-size: 1.5rem;

  svg {
    width: 1.2em;
    height: 1.2em;
    vertical-align: sub;
  }

  &.btn-go {
    svg {
      margin-bottom: 0;
      vertical-align: text-bottom;
    }
  }
}

.btn-flipped {
  svg {
    margin-left: 0;
    margin-right: 0.75rem;
  }
}
