@import "colors";
@import "typography";
@import "card";

.calendar {
  h2 {
    margin-bottom: 0.2em;
  }
}

.event-link {
  display: inline-grid;
  color: $color-ea-dark;

  &:hover {
    color: $color-ea-dark;
  }
}

.event {
  @extend .card;
  cursor: pointer;
}

.event-tooltip {
  font-family: $font-serif !important;
  font-size: 0.65em !important;
  color: $color-ea-dark !important;
  line-height: initial !important;
  padding: 8px !important;
  border-radius: 4px !important;
  border: 1px solid $color-ea-dark !important;
  background-color: $color-ea-beige !important;
}

.event-tooltip-arrow {
  &::before {
    background-color: $color-ea-beige !important;
    border: 1px solid $color-ea-dark !important;
  }
}

.event-tooltip-child svg {
  fill: $color-ea-dark;
  margin-left: 0.5rem;
  vertical-align: middle;
  width: 1em;
  height: 1em;
}

.noscript-error {
  background: $light-blue;
  border-radius: 4px;
  padding: 1rem;
  margin-top: 1rem;

  .error {
    margin-top: 1rem;
    font-family: monospace;
  }
}
