@import "colors";

.card {
  @extend .box;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .header {
    padding: 16px;
  }

  .image img {
    display: block;
    width: 100%;
  }

  .title {
    font-size: 1.125em;
    font-weight: 600;
    line-height: 0;
  }

  .info {
    font-size: 0.75em;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 0.5em;
    margin: 16px 0 0;

    & > span {
      display: flex;
    }

    svg {
      fill: $color-ea-dark;
      margin: 0.15em 0.5rem 0 0;
      width: 1em;
      height: 1em;
      flex-shrink: 0;
    }
  }

  .description {
    font-size: 0.75em;
    padding: 16px;
    flex-grow: 1;
    border-top: 1px solid $color-ea-dark;
  }

  .link {
    font-size: 0.75em;
    font-weight: 700;
    padding: 0 16px 16px;
    text-align: right;

    svg {
      fill: $color-ea-dark;
      margin-left: 0.5rem;
      vertical-align: middle;
      width: 1em;
      height: 1em;
    }
  }

  .type {
    font-size: 0.75em;
    color: $white;
    background-color: $color-ea-dark;
    padding: 8px 16px;
  }
}
