$color-ea-primary: #0c869b;
$color-ea-dark: #054d5a;
$color-ea-light: #35bbd2;
$color-ea-beige: #f4efe9;
$color-ea-light-beige: #fbfaf9;

$light-blue: #cbe5e9;
$light-gray: #ccc;
$gray: #999;
$white: #fff;
