@import "colors";
@import "typography";

::placeholder {
  color: $gray;
}

::-ms-input-placeholder {
  color: $gray;
}

label {
  display: block;
  font-size: 1.5rem;
}

input,
textarea {
  padding: 10px;
  border: 1px solid $light-gray;
  border-radius: 4px;
  width: 100%;
  margin: 0 0 20px 0;
  box-sizing: border-box;
  font-size: 2rem;
}

textarea {
  min-height: 250px;
}

input[type="submit"] {
  display: block;
}

input[type="submit"],
.btn {
  padding: 12px 24px;
  margin: 0;
  background-color: $color-ea-primary;
  border: none;
  border-bottom: 1px solid $color-ea-dark;
  border-radius: 4px;
  font-family: $font-serif;
  font-size: 2rem;
  color: $white;
  cursor: pointer;
  transition: color 0.1s ease-in-out, border 0.2s ease-in-out,
    background-color 0.2s ease-in-out;

  &:hover {
    background-color: $color-ea-light;
    border-bottom: 1px solid $color-ea-primary;
  }
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
  border: 1px solid $color-ea-dark;
  // box-shadow: 0 0 5px $color-ea-dark;
}

.hero-subscription-form {
  margin: 0 auto;
  max-width: 500px;
  padding: 0 20px;
  text-align: center;
}

.footer-subscription-form {
  h4 {
    margin: 20px 0 10px 0;
  }

  input,
  textarea {
    margin: 0 0 10px 0;
  }

  button {
    margin-top: 7.5px;
  }
}
