@import "colors";
@import "typography";
@import "button";
@import "_layout";

::placeholder {
  color: $gray;
}

::-ms-input-placeholder {
  color: $gray;
}

label {
  display: block;
  font-size: 1.5rem;
}

input,
textarea {
  padding: 10px;
  border: 1px solid $light-gray;
  border-radius: 4px;
  width: 100%;
  margin: 0 0 20px 0;
  box-sizing: border-box;
  font-size: 1em;
}

textarea {
  min-height: 250px;
}

input[type="submit"] {
  display: block;
}

input[type="submit"] {
  @extend .btn;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
  border: 1px solid $color-ea-dark;
  // box-shadow: 0 0 5px $color-ea-dark;
}

.hero-subscription-form {
  margin: 0 auto;
  max-width: 500px;
  padding: 0 20px;
  text-align: center;

  input,
  textarea {
    margin: 0 auto;

    &:first-of-type {
      margin-bottom: 20px;
    }
  }

  button {
    margin-top: 30px;
  }

  .hero-subscription-confirmation {
    padding: 0;
    font-size: 1.8rem;
    font-weight: 400;
  }
}

.footer-subscription-form {
  h3 {
    font-size: 2rem;
    margin: 20px 0 10px 0;
  }

  input,
  textarea {
    margin: 0 0 10px 0;
  }

  button {
    margin-top: 7.5px;
    padding: 12px 24px;
  }

  .footer-subscription-confirmation {
    font-family: $font-serif;
  }
}
