@import "colors";

body {
  margin: 0;
  padding: 0;
  background-color: $white;
}

.container {
  max-width: 1328px;
  margin: 0 auto;
}

.box {
  background-color: $white;
  border: 1px solid $color-ea-dark;
  border-radius: 4px;
  padding: 20px;
}

header,
footer,
section {
  padding: 30px 20px;

  @media (min-width: $sm-break) {
    padding: 80px 40px;
  }
}

header,
footer {
  a {
    color: $color-ea-dark;
    font-family: $font-sans;
    font-weight: 400;
    font-variation-settings: "wght" 400;
    transition: font-variation-settings 0.1s ease;

    &.active {
      border-bottom: 2px solid;
    }

    &:hover {
      color: $color-ea-dark;
      font-variation-settings: "wght" 600;
      font-weight: 600;
    }
  }
}

header {
  ::selection {
    background: aliceblue;
  }

  background: $light-blue;
  box-sizing: border-box;

  // @media (min-width: $sm-break) {
  //   // &.large-header {
  //   //   // height: 80vh;
  //   //   // background-position: calc(50% - 350px) calc(100% + 20px);
  //   // }
  // }

  .container {
    text-align: left;
  }

  nav {
    margin-top: 2rem;
    font-size: 2.25rem;
    text-align: center;
    max-width: 100%;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin: 0 10px;
      }
    }

    a.active {
      border-bottom: 2px solid;
    }
  }

  .logo {
    width: clamp(10rem, 20%, 15rem);

    @media (max-width: $sm-break) {
      width: clamp(8rem, 12.5%, 20rem);
    }
  }

  .organization-group {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 3rem;
    cursor: pointer;

    @media (max-width: $sm-break) {
      column-gap: 2rem;
    }
  }

  .organization-subheading {
    margin-top: 0 !important;
  }
}

footer {
  @extend .beige-section;

  .organization-name,
  .organization-subheading {
    font-size: 1.5em;
  }
}

.organization-group > * {
  margin: 0 !important;
  font-family: $font-slab !important;
}

.organization-name {
  font-weight: bold;
  color: $color-ea-dark;
}

.organization-subheading {
  margin-top: 0;
  font-weight: 400;
  color: $color-ea-primary;
}

.organization-description {
  font-family: $font-serif;
}

@media (min-width: 800px) {
  .image-and-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
    column-gap: 40px;
  }

  .grid-left {
    grid-area: left;
  }

  .grid-right {
    grid-area: right;
  }
}

.image-and-text img {
  display: block;
  width: 100%;
  height: fit-content;
  border-radius: 2px;
  flex: 1;
  min-height: 0;
}

.main {
  @extend .white-section;
}

.white-section {
  background-color: $white;
}

.beige-section {
  background-color: $color-ea-beige;
  color: $color-ea-dark;
}

.blue-section {
  ::selection,
  ::-moz-selection {
    background: $color-ea-light;
  }

  background-color: $color-ea-primary;
  color: $white;

  a {
    color: $white;
    border-bottom: 2px solid $white;
    transition: color 0.2s ease;

    &:hover {
      color: #fefefe;
    }
  }

  .btn {
    background-color: $color-ea-beige;
    color: $color-ea-dark;

    &:hover {
      background-color: $color-ea-light-beige;
      color: $color-ea-dark;
      border-bottom: 1px solid $color-ea-dark;
    }
  }
}

.dark-section {
  ::selection,
  ::-moz-selection {
    background: $color-ea-primary;
  }

  background-color: $color-ea-dark;
  color: $color-ea-beige;

  a {
    color: #efefef;
    transition: color 0.2s ease;

    &:hover {
      color: #fefefe;
    }
  }
}

.quote-section {
  @extend .blue-section;
  font-size: 4rem;
  font-weight: 700;
  padding: 70px 20px;

  .container {
    max-width: max-content;
    text-align: center;
  }
}

footer {
  position: relative;
  font-size: 1.9rem;

  h2 {
    font-size: 2.5rem;
    margin: 0 0 30px 0;
  }

  .footer-columns {
    display: flex;
    flex-flow: wrap;
    margin: -10px -10px 10px -10px;
  }

  .bottom-line {
    width: 100%;
    padding: 30px 0 0 0;
    margin: 0;

    a {
      font-style: italic;
    }
  }
}

.social-links {
  font-family: $font-sans;
  padding: 0;

  li {
    list-style: none;
    margin: 15px 0;

    a {
      color: $color-ea-dark;
      font-weight: 400;
      font-variation-settings: "wght" 400;
      transition: font-variation-settings 0.1s ease;

      &:hover {
        color: $color-ea-primary;
        font-variation-settings: "wght" 600;
        font-weight: 600;
      }

      svg {
        fill: $color-ea-dark;
        margin-right: 10px;
        transition: fill 0.2s ease;
        vertical-align: middle;
        position: relative;
        top: -2px;
        width: 26px;
        height: 26px;
      }

      &:hover svg {
        fill: $color-ea-primary;
      }
    }
  }
}

.footer-links {
  @extend .social-links;

  flex: 1 0 180px;
  margin: 10px;

  li {
    a {
      svg {
        width: 22px;
        height: 22px;
      }
    }
  }
}

.columns {
  display: flex;
  flex-wrap: wrap-reverse;
  margin: 0 -20px;

  .column {
    flex: 1 1 250px;
    margin: 20px;
  }
}

.contact-info {
  margin: 0 0 25px 0;
}

.pagination {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;

  a,
  span {
    flex: 1;
  }
}

.responsive-iframe {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
}
