@import "colors";

body {
  margin: 0;
  padding: 0;
  background-color: $white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.box {
  background-color: $white;
  border: 1px solid $color-ea-dark;
  border-radius: 4px;
  padding: 20px;
}

footer,
.section {
  padding: 30px 20px;

  @media (min-width: $sm-break) {
    padding: 80px 40px;
  }
}

.short-section {
  padding: 15px 20px;

  @media (min-width: $sm-break) {
    padding: 40px 40px;
  }
}

header,
footer {
  a {
    color: $color-ea-dark;
    font-family: $font-sans;
    font-weight: 400;
    font-variation-settings: "wght" 400;
    transition: font-variation-settings 0.1s ease;

    &.active {
      border-bottom: 2px solid;
    }

    &:hover {
      color: $color-ea-light;
    }
  }
}

header {
  ::selection {
    background: aliceblue;
  }

  background: $light-blue;
  box-sizing: border-box;

  .container {
    text-align: left;
  }

  nav {
    margin-top: 2rem;
    font-size: 2.25rem;
    text-align: center;
    max-width: 100%;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin: 0 10px;
      }
    }

    a.active {
      border-bottom: 2px solid;
    }
  }

  .logo {
    width: clamp(10rem, 20%, 15rem);

    @media (max-width: $sm-break) {
      width: clamp(8rem, 12.5%, 20rem);
    }
  }

  .organization-group {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 3rem;
    cursor: pointer;

    @media (max-width: $sm-break) {
      column-gap: 2rem;
    }
  }

  .organization-subheading {
    margin-top: 0 !important;
  }
}

footer {
  @extend .beige-section;

  .organization-name,
  .organization-subheading {
    font-size: 1.5em;
  }

  .ea-footer-link {
    @extend a;

    font-family: $font-serif !important;
    font-style: normal !important;
    text-decoration: underline !important;

    &:hover {
      font-variation-settings: "wght" 400 !important;
      font-weight: 400 !important;
    }
  }
}

.organization-group > * {
  margin: 0 !important;
}

.organization-name {
  font-family: $font-slab;
  font-weight: 700;
  color: $color-ea-dark;
}

.organization-subheading {
  margin-top: 0;
  font-family: $font-slab;
  font-weight: 400;
  color: $color-ea-primary;
}

.organization-description {
  font-family: $font-serif;
}

.banner-image {
  height: 40vh;
  background-color: $color-ea-dark;

  .image {
    height: 100%;
    width: 100%;
    opacity: 50%;
    object-fit: cover;
  }
}

@media (min-width: $md-break) {
  .two-columns-uneven {
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    grid-template-areas: "left right";
    column-gap: 40px;
  }

  .grid-left {
    grid-area: left;
  }

  .grid-right {
    grid-area: right;
  }
}

.two-rows {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: "top" "bottom";
  row-gap: 40px;
}

.grid-top {
  grid-area: top;
}

.grid-bottom {
  grid-area: bottom;
}

.justify-self-center {
  justify-self: center;
}

.align-self-end {
  align-self: end;
}

.info-subtitle {
  font-size: 0.85em;
  margin: 0 0 3rem;
  display: flex;
  align-items: flex-start;

  svg {
    fill: $color-ea-dark;
    margin-right: 0.5rem;
    flex-shrink: 0;
  }

  p {
    margin: 0;
  }
}

.main {
  @extend .white-section;
}

.white-section {
  @extend .section;
  background-color: $white;
}

.short-white-section {
  @extend .white-section;
  @extend .short-section;
}

.beige-section {
  @extend .section;
  background-color: $color-ea-beige;
  color: $color-ea-dark;
}

.short-beige-section {
  @extend .beige-section;
  @extend .short-section;
}

.blue-section {
  @extend .section;

  ::selection,
  ::-moz-selection {
    background: $color-ea-light;
  }

  background-color: $color-ea-primary;
  color: $white;

  a {
    color: $white;
    border-bottom: 2px solid $white;
    transition: color 0.2s ease;

    &:hover {
      color: #fefefe;
    }
  }

  .btn {
    @extend .btn-light;
  }
}

.small-blue-section {
  @extend .blue-section;

  padding: 15px 10px;

  @media (min-width: $sm-break) {
    padding: 20px 20px;
  }
}

.dark-section {
  @extend .section;

  ::selection,
  ::-moz-selection {
    background: $color-ea-primary;
  }

  background-color: $color-ea-dark;
  color: $color-ea-beige;

  a {
    color: #efefef;
    transition: color 0.2s ease;

    &:hover {
      color: #fefefe;
    }
  }

  svg {
    fill: $color-ea-beige;
  }

  .btn {
    @extend .btn-light;
  }
}

.quote-section {
  @extend .blue-section;
  font-weight: 700;
  padding: 70px 20px;

  h2 {
    font-size: 3.75rem;
    margin-bottom: 20px;
  }

  .container {
    max-width: max-content;
    text-align: center;
  }
}

footer {
  position: relative;
  font-size: 1em;

  h2 {
    font-size: 1.25em;
    margin: 0 0 30px 0;
  }

  h4 {
    font-size: 1.15em;
  }

  .footer-columns {
    display: flex;
    flex-flow: wrap;
    margin: -10px -10px 10px -10px;
  }

  .bottom-line {
    width: 100%;
    padding: 30px 0 0 0;
    margin: 0;

    a {
      font-style: italic;
    }
  }
}

.social-links {
  font-family: $font-sans;
  padding: 0;

  li {
    list-style: none;
    margin: 12.5px 0;

    a {
      color: $color-ea-dark;
      font-weight: 400;
      font-variation-settings: "wght" 400;
      transition: font-variation-settings 0.1s ease;

      &:hover {
        color: $color-ea-primary;
        font-variation-settings: "wght" 600;
        font-weight: 600;
      }

      svg {
        fill: $color-ea-dark;
        margin-right: 10px;
        transition: fill 0.2s ease;
        vertical-align: middle;
        position: relative;
        top: -2px;
      }

      &:hover svg {
        fill: $color-ea-primary;
      }
    }
  }
}

.footer-links {
  @extend .social-links;

  flex: 1 0 180px;
  margin: 10px;

  li {
    a {
      svg {
        width: 22px;
        height: 22px;
      }
    }
  }
}

.columns {
  display: flex;
  flex-wrap: wrap-reverse;
  margin: 0 -20px;

  .column {
    flex: 1 1 250px;
    margin: 20px;
  }
}

.contact-info {
  margin: 0 0 25px 0;
}

.pagination {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;

  a,
  span {
    flex: 1;
  }
}

.responsive-iframe {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
}
