@import "colors";

.navbar-root {
  background-color: $light-blue !important;
  color: $color-ea-dark !important;
  border-bottom: 1px solid $color-ea-dark !important;
  box-shadow: none !important;
  z-index: 1201;

  .navbar-logo {
    flex-grow: 1;
  }

  .links {
    display: flex;
    flex-grow: 0;
    column-gap: 1em;

    .active {
      border-bottom: 2px solid;
    }

    @media (max-width: $md-break) {
      display: none;
    }
  }
}

.drawer {
  background-color: $light-blue;
  color: $color-ea-dark;
  border-left: 1px solid $color-ea-dark;
  z-index: 10;
  box-shadow: none;

  @media (min-width: 300px) {
    min-width: 185px;
  }

  @media (min-width: $sm-break) {
    min-width: 250px;
  }

  .links {
    @extend .footer-links;

    &:first-child {
      margin-top: 10rem;
    }

    .active {
      border-bottom: 2px solid;
    }
  }
}

// https://codepen.io/fromwireframes
.menu-icon {
  position: absolute;
  top: 2.5px;
  right: 10px;
  width: 50px;
  height: 50px;
  z-index: 1201 !important; // MUI draws drawer at Z-index 1200
  cursor: pointer;

  @media (min-width: $sm-break) {
    top: 7px;
    right: 30px;
  }

  .menu-icon__checkbox {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
  }

  div {
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 22px;
    height: 12px;
  }

  span {
    position: absolute;
    background-color: $color-ea-dark;
    border-radius: 1px;
    width: 100%;
    height: 2px;
    transition: all 0.2s cubic-bezier(0.1, 0.8, 0.75, 0.98);

    &:last-of-type {
      bottom: 0;
    }
  }

  &.active,
  .menu-icon__checkbox:checked + div {
    span {
      &:first-of-type {
        transform: rotate(45deg);
        top: 5px;
      }
      &:last-of-type {
        transform: rotate(-45deg);
        bottom: 5px;
      }
    }
  }
}
