@import "colors";
@import "typography";
@import "card";

.accordion {
  border-bottom: 2px solid $color-ea-primary;
  margin-bottom: 2em;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid $color-ea-primary;
  padding: 1.5em 0;
  cursor: pointer;
}

.accordion-icon {
  fill: $color-ea-primary;
  font-size: 1.5em;
}

.accordion-content {
  margin-top: -1em;
  margin-bottom: 1em;
  display: none;
}

.accordion-active {
  display: block;
}
