@import "colors";
@import "typography";
@import "card";

.program {
  @extend .card;

  &.main {
    border: 1px solid black;
    background-color: $color-ea-dark;
    color: $color-ea-beige;

    .header {
      border-color: $color-ea-beige;
    }

    .info {
      svg {
        fill: $color-ea-beige;
      }
    }

    .type {
      background-color: $color-ea-beige;
      color: $color-ea-dark;
    }
  }

  &.hover {
    cursor: pointer;
  }
}
