.project-list {
  list-style: none;
  padding: 0;
}

.project-comments {
  @extend .box;
  margin-top: 20px;
}

.project-summary {
  @extend .box;
  display: flex;
  flex-direction: column;

  @media (min-width: $sm-break) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.project-summary-excerpt {
  margin-bottom: 0;
}

.project-summary-content.has-project-summary-image {
  flex: 0 1 75%;
}

.project-summary-image {
  flex: 0 1 25%;
  box-sizing: border-box;
  margin-bottom: 15px;

  @media (min-width: $sm-break) {
    margin-bottom: 0;
    padding-right: 20px;
  }
}

.project-summary-details {
  color: #75828a;
  font-size: 1.9rem;
}

.project-summary-author {
  @extend .testimonial-author;
  margin: 1em 0;
}
