@import "layout";
@import "typography";
@import "colors";

.executive-section {
  @extend .dark-section;

  margin-top: -80px;

  // from https://stackoverflow.com/questions/48817028/how-to-make-full-width-div-inside-container
  // max-width:100%;  /* added */
  width: 100svw; /* make it 100% of the viewport width (vw) */
  margin-left: calc(
    (100% - 100vw) / 2
  ); /* then remove the gap to the left of the container with this equation */

  label:last-child {
    border-color: $color-ea-beige !important;
  }
}

.leader {
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .leader-bio {
    font-size: small;
  }

  label:last-child {
    padding-bottom: 8px;
    border-bottom: 1px solid #054d5a;
  }
}
