@import "layout";
@import "typography";
@import "colors";

.executive-section {
  @extend .dark-section;

  h2 {
    margin: 0;
  }

  a {
    color: $color-ea-light;
    text-decoration: underline;
  }

  .leader-bio {
    border-color: $color-ea-beige !important;
  }
}

.leader {
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  h3 {
    margin-top: 1rem !important;
  }

  .leader-pronouns {
    margin-bottom: 8px;
  }

  .leader-bio {
    font-size: small;
    border-top: 1px solid #054d5a;
  }

  label:last-child {
    padding-bottom: 8px;
  }

  .leader-image {
    display: flex;

    img {
      width: 100%;
      height: auto;
      border-radius: 4px;
    }
  }
}
