@import "colors";

$font-sans: "Inter", "Merriweather Sans", "Cabin", "Aller", "Ubuntu", sans-serif;
$font-serif: "Merriweather", Georgia, "Average", "Times New Roman", serif;
$font-slab: "Rockwell Nova", "Roboto Slab", "Merriweather", Georgia, serif;

@mixin word-break {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-word-break: break-all;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@font-face {
  font-family: "Rockwell Nova";
  src: url("../assets/fonts/RockwellNova/rockwellnova-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/RockwellNova/rockwellnova-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rockwell Nova";
  src: url("../assets/fonts/RockwellNova/rockwellnova-bold-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/RockwellNova/rockwellnova-bold-webfont.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

::selection,
::-moz-selection {
  background: $light-blue;
}

html {
  font-size: 9px;
  -webkit-tap-highlight-color: transparent;

  @media (min-width: $sm-break) {
    font-size: 10px;
  }
}

body {
  line-height: 1.75;
  font-size: 1.7em;
}

body,
input,
textarea {
  font-family: $font-serif;
  color: $color-ea-dark;
  text-rendering: geometricPrecision;
}

label,
h1 {
  font-family: $font-slab;
  font-weight: 400;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: $font-serif;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.5;

  &:not(:first-child) {
    margin-top: 2.2em;
  }
}

h1 {
  // font-size: 3.82rem;
  font-size: clamp(0rem, 7vw, 4.5rem);
  line-height: normal;
  margin: 0 -10px 0 0;

  @media (min-width: $sm-break) {
    font-size: clamp(3.82rem, -1.94rem + 9vw, 6.7rem);
    line-height: normal;
  }

  @media (min-width: 900px) {
    line-height: 80px;
    font-size: clamp(6rem, 2.4286rem + 4.7619vw, 7rem);
  }
}

h2 {
  font-size: 3.25rem;
  margin-bottom: 1em;
}

h3 {
  font-size: 2.7rem;
}

h4 {
  font-size: 2.3rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 2rem;
}

a {
  color: $color-ea-primary;
  transition: color 0.2s ease;
  text-decoration: none;

  @include word-break;

  &:hover {
    color: $color-ea-light;
  }
}
