$sm-break: 600px;
$md-break: 900px;
$lg-break: 1200px;
$xl-break: 1536px;

// uncomment to start using Tailwind
// @tailwind base;
// @tailwind components;
// @tailwind utilities;

@import "typography";
@import "layout";
@import "team";
@import "forms";
@import "calendar";
@import "animations";
@import "cloudcannon";
